@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Rubik', sans-serif; 
}

h2 a{
    scroll-margin-top:100px;
}

.nosotros{
    background-image: url(svg/logo-marca-horizontal-light.svg);
    background-repeat: no-repeat;
    background-position: center;
    
} 

nav{
    background-color: #488BC8;
}

#verCarrito:hover {
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
}


button[value="Enviar"]{
    background-color: #488BC8;
    color:white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
}

.content-modal {
    width: 90%;
    background-color: #fff;
    margin: auto;
    max-height: 80%;
    border-radius: 10px;
}

.modal-body{
    overflow-y: scroll;
    max-height: 300px;
}

.close-modal {
    text-decoration: none;
    margin-right: 15px;
    color: black;
    font-size: 20px;
}

.modal-precio {
    padding: 10px;
    
}

.modal-footer {
    display: flex;
    justify-content: end;
}

.botonesBorrar{
    border-radius: 5px;
    background-color:#488BC8 ;
    
    color:white;
}

@media screen and (max-width: 760px){
.nosotros{
    background-image: none;
}
}